.headerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.status {
    display: flex;
    align-items: center;
    gap: 10px;
}

.status h5 {
    color: black;
    font-weight: 700;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.onlineDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00c853;
    position: relative;
}

.onlineDot::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 200, 83, 0.5);
    border-radius: 50%;
    opacity: .8;
    transform: translate(-50%, -50%);
    animation: pulse 3s ease-in-out infinite;
    z-index: -1;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.8);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(2  );
        opacity: 0;
    }
}

.downloadBtn {
    position: relative;
    padding: 0.6rem 1rem;
    background-color: #679DFD;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease;
    min-width: 140px;
    color: black;
    font-weight: 600;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.downloadBtn-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.downloadBtn-icon,
.downloadBtn-text {
    transition: opacity 0.3s ease;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.downloadBtn-icon {
    opacity: 0;
    visibility: hidden;
}

.downloadBtn:hover .downloadBtn-icon {
    opacity: 1;
    visibility: visible;
}

.downloadBtn:hover .downloadBtn-text {
    opacity: 0;
    visibility: hidden;
}
