body {
    margin: 0;
    background-color: #101010;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center;
    background-size: cover;
}


/* Optional: Add a color overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity */
  z-index: 1; /* Ensure overlay is above the background */
}

.header {
  position: relative; /* Position relative for overlay */
  z-index: 2; /* Ensure header content is above overlay */
}


.main {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (max-width: 480px) {
    .App  {
        padding: 1rem;
    }

    .profile-image {
        width: 120px;
        height: 120px;
    }

    .section {
        width: 100%;
        margin: 10px 0;
    }
}


@media (min-width: 481) and (max-width: 768px) {
    .App {
        padding: 20px;
    }

    .profile-image {
        width: 150px;
        height: 150px;
    }

    .section {
        width: 90%;
        margin: 15px auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .App {
        padding: 30px;
    }

    .profile-image {
        width: 180px;
        height: 180px;
    }

    .section {
        width: 80%;
        max-width: 800px;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .App {
        padding: 40px;
    }

    .profile-image {
        width: 220px;
        height: 220px;
    }

    .section {
        width: 30%;
        max-width: 300px;
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media (min-width: 1441px) and (max-width: 1920px) {
    .App {
        padding: 60px;
    }

    .profile-image {
        width: 250px;
        height: 250px;
    }

    .section {
        width: 25%;
    }
}
