.Home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContainer {
    flex: 1;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.mainContainer h2 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.mainContainer h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: Inter, Arial, Helvetica, sans-serif;
}