@import "tailwindcss";
@tailwind utilities;


@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));
  --color-primary: hsl(var(--primary));
}

@layer utilities {
  .animate-cursor::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 1.2em;
    background: white;
    animation: blink 1s steps(2, start) infinite;
    margin-left: 2px;
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  .animate-wave {
    animation: wave 2s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }
}